<div class="contenedor-menu">
  <nav>
    <ul>
      <li>
        <a href="">
          <img
            src="../../../assets/images/home.png"
            alt="Imagen inicio"
            width="36"
            height="36"
          />
          Inicio
        </a>
      </li>
      <li>
        <a href="usuario/agregar-usuario">
          <img
            src="../../../assets/images/add_user.png"
            alt="Imagen agregar usuario"
            width="36"
            height="36"
          />
          Agregar Usuario
        </a>
      </li>
      <li>
        <a href="usuario/consultar-usuario">
          <img
            src="../../../assets/images/search.png"
            alt="Imagen consulta usuario"
            width="36"
            height="36"
          />
          Consultar usuario
        </a>
      </li>
      <li>
        <a href="usuario/actualizar-usuario">
          <img
            src="../../../assets/images/update.png"
            alt="Imagen actualizar usuario"
            width="36"
            height="36"
          />
          Actualizar Usuario
        </a>
      </li>
      <li>
        <a href="usuario/eliminar-usuario">
          <img
            src="../../../assets/images/delete.png"
            alt="Imagen eliminar usuario"
            width="36"
            height="36"
          />
          Eliminar Usuario
        </a>
      </li>
    </ul>
  </nav>
</div>
